.a {
    text-align: right;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #1E90FF;
    margin: 4px 5px;
    }

body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2, h5 {
    color: #004d40;
}

form {
    margin: 70px auto;
    padding: 20px;
    border: 1px solid #004d40;
    width: 300px;
    background-color: #ffffff;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #004d40;
}

input[type="text"],
input[type="email"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #004d40;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    color: #ffffff;
    background-color: #004d40;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #00332c;
}